
body{
    background: linear-gradient(to bottom, #fec79c, #e26bbe, #91acfb) no-repeat;
    height: 100vh;
    color: #1e3264;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    }